.controls
{
    display:flex;
    background-color: #202020;
    margin: 0 auto;
    flex-direction: column;
}

label
{
    color: white;
}

input
{
    background-color: #494949;
    border: 1px solid white;
}

body
{
    background-color: black;
}

td
{
    width: 40px!important;
    height: 40px!important;
    background-color:white;
    border: 1px solid black;
}

table
{
    background-color:purple;
    border-collapse: collapse;
}

button
{
    justify-content: center;
    margin: 10px;
    width: 120px;
}
